.image-container {
  width: 100%;
  height: 400px;
  position: relative; 
}

.buttons-container {
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%); 
  z-index: 9999;
  display: block;
}

.buttons-container button {
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
}

.buttons-container img {
  width: 20px;
  height: 20px;
}
